<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lim.mapper.BoardMapper">
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_lime_board.nextval from dual
		</selectKey>
		insert into tbl_lime_board (bno,title,content,writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	
	<select id="getList" resultType="org.lim.domain.BoardVO">
		<![CDATA[
			select * from tbl_lime_board where bno > 0
		]]>
	</select>
	
	<select id="read" resultType="org.lim.domain.BoardVO">
		select * from tbl_lime_board where bno = #{bno}
	</select>
	
	<update id="update">
		update tbl_lime_board
		set title = #{title},
		content = #{content},
		writer = #{writer},
		updateDate = sysdate
		where bno = #{bno}
	</update>
	
	<delete id="delete">
		delete from tbl_lime_board where bno = #{bno}
	</delete>
</mapper>